@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

body {
    background-color: #bacbdb;
    background: linear-gradient(lightgray,white);
}

h1 {
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.descripcion,
label {
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.container {
    height: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.texto {
    width: 100%;
    float: center;
    display: grid;
    place-items: center;
}


#input,
#encrypted-text {
    width: 80%;
    border-radius: 4px;
}

#encriptar,
#desencriptar,
#copiar{
    position: flex;
    height: 37px;
    width: 181px;
    background: orange;
    color: black;
    border-radius: 10px;
    font-family: "Roboto";
    margin-bottom: 10px;
}

.significado li{
    padding-top: 10px;
    padding-right:  40px;
    text-align: center;
    font-family: Roboto;
}

#desencriptar:hover{
    background: red;
    transition: 500ms;
    transform: scale(1.10);
}

#encriptar:hover{
    background: red;
    transition: 500ms;
    transform: scale(1.10);
}

#copiar:hover{
    background: red;
    transition: 500ms;
    transform: scale(1.10);
}

footer {
    padding-top: 200px;
    text-align: end;
    margin-right: 50px;
    font-size: 12px;
}

@media screen and (max-width: 480px) {
    .texto{
        width: 100%;
    }

    .texto > label{
        margin: 1em;
    }

    #desencriptar, #copiar{
        margin-bottom: 1em;
    }
}